body {
  min-width: 320px;
  font-family: "Open sans";

  .wrapper {
    .content-wrapper {
      .content {
        .row {
          display: flex;

          .info-box {
            margin: 0 15px 0 15px;
          }
        }
      }
    }
  }
}

[hidden] {
  display: none;
}

body.disabled {
  overflow: hidden;
}

.main-header {
  .sidebar-toggle:before {
    content: none;
  }

  .sidebar-toggle {
    padding: 5px;
  }
}

.main-header {
  .logo {
    background-color: #3c8dbc !important;
    height: 56px;
    line-height: 56px;
  }
}

.dropdown-toggle::after
{
  margin-top: 9px;
}


.hc-form {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: auto;

  .form-structure {
    background-color: rgba(0, 0, 0, 0.02);
    height: calc(100% - 85px);
    margin: 15px 0;
    min-height: 250px;
    overflow-y: auto;
    padding: 15px;

    .form-group {
      label .required {
        color: crimson;
        font-size: 20px;
      }

      .multi-language {
        float: left;
        width: calc(100% - 80px);
      }

      .new-option {
        float: left;
        width: calc(100% - 50px);
      }

      .new-option-button {
        margin-left: 10px;
      }

      select.multi {
        float: right;
        width: 70px;
      }

      .thumbnails {
        display: flex;
        flex-flow: wrap;
      }
    }
  }

  .footer {
    text-align: center;
  }
}

.hc-media {

  text-align: center;
  position: relative;

  .percentage {
    width: 100%;
    height: 100%;
    padding-top: 35px;
    position: absolute;
  }

  .spinner {
    position: absolute;
    font-size: 74px;
    left: 9px;
    top: -9px;
  }

  .thumbnail {
    background: white center no-repeat;
    width: 90px;
    height: 90px;
    background-size: contain;
    box-shadow: 0 0 10px #ccc;
    border: none;
    border-radius: 0;
    position: absolute;
  }

  .thumbnail.empty {
    color: rgba(0, 0, 0, 0.05);
    font-size: 59px;
  }

  .remove, .edit {
    position: absolute;
    width: 45px;
    height: 20px;
    text-align: center;
    bottom: -10px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    opacity: 0.1;
    transition: 0.5s;
  }

  .remove {
    left: 0;
  }

  .edit {
    left: 45px;
  }
}

#dev-env {
  position: absolute;
  z-index: 1050;
  left: calc(50% - 65px);
  background: brown;
  padding: 6px;
  border-radius: 0 0 5px 5px;
  color: white;
  border-bottom: solid 2px;
  font-weight: 600;
  font-size: 10px;
}

#admin-list {
  .box {

    .box-header {
      border-bottom: 3px solid #d2d6de;
      border-radius: 0;
      display: flex;
      align-items: center;

      h3 {
        white-space: nowrap;
      }
    }

    #settings {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .box-body {
      #actions {
        display: flex;
        align-items: center;
        margin-top: 10px;

        div, button {
          margin: 0 3px 0 3px;
        }
      }

      #filters {

        display: flex;
        align-items: center;
        margin-top: 10px;

        button {
          margin-left: 10px;
        }

        .hc-form {
          .form-structure {
            all: unset;
            display: flex;

            .form-group {
              all: unset;
              margin-left: 10px;
              display: flex;
              align-items: center;

              label {
                margin-bottom: 0;
                margin-right: 5px;
              }
            }
          }
        }
      }

      .list {
        margin-top: 20px;

        tr.selected {
          background-color: lightslategray;
          color: white;
        }

        tr th {
          position: relative;
        }

        tr th .sorting {
          opacity: 0.5;
          position: absolute;
          right: 10px;
          cursor: pointer;
        }

        tr th .active {
          opacity: 1;
        }

        tr td {
          vertical-align: middle;
        }

        tr td.update {
          cursor: pointer;
        }

        .main-checkbox {
          width: 30px;
        }
      }
    }
  }
}

.form-group.one-line {
  display: flex;
  align-items: center;
}

.rc-pagination {
  padding-top: 10px;
}

.hc-media-uploader, .hc-media {

  width: 90px;
  height: 90px;
  text-align: center;
  margin: 10px;
  background: cadetblue;
  color: white;

  input[type=file] {
    display: none;
    margin: 10px;
  }

  label {
    width: 100%;
    height: 100%;
    border: 3px rgba(255, 255, 255, 0.5) dashed;
    cursor: pointer;

    span {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  label:hover {
    border: 3px rgba(255, 255, 255, .75) dashed;
    box-shadow: 0 0 5px #888888;
  }
}

.btn {
  span.fa-layers-counter {
    font-size: 40px;
    margin-top: -7px;
    right: -5px;
    box-shadow: 0 0 16px darkgrey;
    border: 4px solid white;
    padding-top: 7px;
  }
  position: relative;
}

.btn-forestgreen {
  background-color: forestgreen;
  border-color: forestgreen;
}

.btn-clean {
  background-color: lightgrey;
  border-color: lightgrey;
}

aside.main-sidebar {
  .sidebar {
    .sidebar-menu {
      li {
        a {
          display: flex;
          align-items: center;

          .fa-icon {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.react-datepicker-wrapper {

  width: 100%;

  .react-datepicker__input-container {

    width: 100%;

    input[type="text"] {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    }
  }
}